In [2]:
# Importing Liberaries:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine

In [3]:
# Load the Employee Dataset:
df_emp= pd.read_csv("HR/Employee.csv")
df_emp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   EmployeeID               1470 non-null   object
 1   FirstName                1470 non-null   object
 2   LastName                 1470 non-null   object
 3   Gender                   1470 non-null   object
 4   Age                      1470 non-null   int64
 5   BusinessTravel           1470 non-null   object
 6   Department               1470 non-null   object
 7   DistanceFromHome (KM)    1470 non-null   int64
 8   State                    1470 non-null   object
 9   Ethnicity                1470 non-null   object
 10  Education                1470 non-null   int64
 11  EducationField           1470 non-null   object
 12  JobRole                  1470 non-null   object
 13  MaritalStatus            1470 non-null   object
 14  Salary                   1470 non-null   int64
 15  StockOptionLevel         1470 non-null   int64
 16  OverTime                 1470 non-null   object
 17  HireDate                 1470 non-null   object
 18  Attrition                1470 non-null   object
 19  YearsAtCompany           1470 non-null   int64
 20  YearsInMostRecentRole    1470 non-null   int64
 21  YearsSinceLastPromotion  1470 non-null   int64
 22  YearsWithCurrManager     1470 non-null   int64
dtypes: int64(9), object(14)
memory usage: 264.3+ KB

In [4]:
df_emp.head()

,EmployeeID,FirstName,LastName,Gender,Age,BusinessTravel,Department,DistanceFromHome (KM),State,Ethnicity,...,MaritalStatus,Salary,StockOptionLevel,OverTime,HireDate,Attrition,YearsAtCompany,YearsInMostRecentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,3012-1A41,Leonelle,Simco,Female,30,Some Travel,Sales,27,IL,White,...,Divorced,102059,1,No,2012-01-03,No,10,4,9,7
1,CBCB-9C9D,Leonerd,Aland,Male,38,Some Travel,Sales,23,CA,White,...,Single,157718,0,Yes,2012-01-04,No,10,6,10,0
2,95D7-1CE9,Ahmed,Sykes,Male,43,Some Travel,Human Resources,29,CA,Asian or Asian American,...,Married,309964,1,No,2012-01-04,No,10,6,10,8
3,47A0-559B,Ermentrude,Berrie,Non-Binary,39,Some Travel,Technology,12,IL,White,...,Married,293132,0,No,2012-01-05,No,10,10,10,0
4,42CC-040A,Stace,Savege,Female,29,Some Travel,Human Resources,29,CA,White,...,Single,49606,0,No,2012-01-05,Yes,6,1,1,6

In [5]:
df_emp.EmployeeID.nunique()

1470

In [6]:
df_emp.FirstName.nunique()

1334

In [7]:
df_emp.LastName.nunique()

1441

In [8]:
df_emp.Gender.nunique()

4

In [9]:
df_emp.Gender.unique()

array(['Female', 'Male', 'Non-Binary', 'Prefer Not To Say'], dtype=object)

In [10]:
df_emp.Age.unique()

array([30, 38, 43, 39, 29, 34, 42, 40, 31, 32, 35, 37, 33, 45, 36, 48, 47,
       44, 28, 41, 46, 27, 26, 25, 24, 23, 22, 21, 49, 50, 20, 19, 51, 18],
      dtype=int64)

In [11]:
df_emp.Age.min()

18

In [12]:
df_emp.Age.max()

51

In [13]:
df_emp.BusinessTravel.nunique()

3

In [14]:
df_emp.BusinessTravel.unique()

array(['Some Travel', 'No Travel ', 'Frequent Traveller'], dtype=object)

In [15]:
df_emp.Department.nunique()

3

In [16]:
df_emp.Department.unique()

array(['Sales', 'Human Resources', 'Technology'], dtype=object)

In [17]:
df_emp['DistanceFromHome (KM)'].nunique()

45

In [18]:
df_emp['DistanceFromHome (KM)'].min()

1

In [19]:
df_emp['DistanceFromHome (KM)'].max()

45

In [20]:
df_emp.State.nunique()

3

In [21]:
df_emp.State.unique()

array(['IL', 'CA', 'NY'], dtype=object)

In [22]:
df_emp.Ethnicity.nunique()

7

In [23]:
df_emp.Ethnicity.unique()

array(['White', 'Asian or Asian American',
       'Mixed or multiple ethnic groups', 'Black or African American',
       'Native Hawaiian ', 'Other ', 'American Indian or Alaska Native'],
      dtype=object)

In [24]:
df_emp.Education.nunique()

5

In [25]:
df_emp.Education.unique()

array([5, 4, 3, 2, 1], dtype=int64)

In [26]:
df_emp.EducationField.nunique()

9

In [27]:
df_emp.EducationField.unique()

array(['Marketing', 'Marketing ', 'Computer Science', 'Technical Degree',
       'Information Systems', 'Other', 'Economics', 'Human Resources',
       'Business Studies'], dtype=object)

In [28]:
df_emp.JobRole.nunique()

13

In [29]:
df_emp.JobRole.unique()

array(['Sales Executive', 'HR Business Partner', 'Engineering Manager',
       'Recruiter', 'Data Scientist', 'Machine Learning Engineer',
       'Manager', 'Software Engineer', 'Senior Software Engineer',
       'Sales Representative', 'Analytics Manager', 'HR Executive',
       'HR Manager'], dtype=object)

In [30]:
df_emp.MaritalStatus.nunique()

3

In [31]:
df_emp.MaritalStatus.unique()

array(['Divorced', 'Single', 'Married'], dtype=object)

In [32]:
df_emp.Salary.unique()

array([102059, 157718, 309964, ...,  63375,  46521,  38258], dtype=int64)

In [33]:
df_emp.Salary.min()

20387

In [34]:
df_emp.Salary.max()

547204

In [35]:
df_emp.StockOptionLevel.unique()

array([1, 0, 2, 3], dtype=int64)

In [36]:
df_emp.OverTime.unique()

array(['No', 'Yes'], dtype=object)

In [37]:
df_emp.HireDate.min()

'2012-01-03'

In [38]:
df_emp.HireDate.max()

'2022-12-31'

In [39]:
df_emp.Attrition.nunique()

2

In [40]:
df_emp.Attrition.unique()

array(['No', 'Yes'], dtype=object)

In [41]:
df_emp.YearsAtCompany.unique()

array([10,  6,  8,  5,  7,  9,  2,  4,  3,  1,  0], dtype=int64)

In [42]:
df_emp.YearsAtCompany.min()

0

In [43]:
df_emp.YearsAtCompany.max()

10

In [44]:
df_emp.YearsInMostRecentRole.unique()

array([ 4,  6, 10,  1,  3,  2,  5,  7,  8,  9,  0], dtype=int64)

In [45]:
df_emp.YearsInMostRecentRole.min()

0

In [46]:
df_emp.YearsInMostRecentRole.max()

10

In [47]:
df_emp.YearsSinceLastPromotion.min()

0

In [48]:
df_emp.YearsSinceLastPromotion.max()

10

In [49]:
df_emp.YearsWithCurrManager.min()

0

In [50]:
df_emp.YearsWithCurrManager.max()

10

In [102]:
from sqlalchemy_utils import database_exists, create_database

In [114]:
server = 'HEND\SQLEXPRESS'
db_name = 'test'
driver = 'ODBC Driver 17 for SQL Server'
connect_db= f'mssql://@{server}/{db_name}?driver={driver}'
engine = create_engine("connect_db")
con_db= engine.connect()
if not database_exists(db_name.engine):
    create_database(db_name.engine)

#print(database_exists(engine.url))

ArgumentError: Could not parse rfc1738 URL from string 'connect_db'

In [110]:
server = 'HEND\SQLEXPRESS'
db_name = 'Test'
driver = 'ODBC Driver 17 for SQL Server'
connect_db= f'mssql://@{server}/{db_name}?driver={driver}'
engine = create_engine(connect_db)
con_db= engine.connect()

InterfaceError: (pyodbc.InterfaceError) ('28000', '[28000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Login failed for user \'HEND\\hp\'. (18456) (SQLDriverConnect); [28000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot open database "Test" requested by the login. The login failed. (4060); [28000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Login failed for user \'HEND\\hp\'. (18456); [28000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot open database "Test" requested by the login. The login failed. (4060)')
(Background on this error at: https://sqlalche.me/e/14/rvf5)

In [116]:
import pyodbc

In [120]:
# Define the connection parameters
server = 'HEND\SQLEXPRESS'  # e.g., 'localhost' or 'your_server_ip'
#username = 'your_username'    # SQL Server username
#password = 'your_password'     # SQL Server password
database_name = 'Test'  # Name of the new database
# Establish a connection to the SQL Server
driver = 'ODBC Driver 17 for SQL Server'
connect_db= f'mssql://@{server}/{db_name}?driver={driver}'
connection_string = f'mssql://@{server}/{db_name}?driver={driver}'
connection = pyodbc.connect(connection_string)
# Create a new cursor
cursor = connection.cursor()

# SQL command to create a new database
create_db_query = f"CREATE DATABASE {database_name}"

# Execute the SQL command
cursor.execute(create_db_query)

# Commit the transaction
connection.commit()

# Close the cursor and connection
cursor.close()
connection.close()

print(f"Database '{database_name}' created successfully.")

InterfaceError: ('IM002', '[IM002] [Microsoft][ODBC Driver Manager] Data source name not found and no default driver specified (0) (SQLDriverConnect)')

In [ ]:
import pyodbc

# Define the connection parameters
server = 'your_server_name'  # e.g., 'localhost' or 'your_server_ip'
username = 'your_username'    # SQL Server username
password = 'your_password'     # SQL Server password
database_name = 'your_database_name'  # Name of the new database

# Establish a connection to the SQL Server
connection_string = f'DRIVER={{ODBC Driver 17 for SQL Server}};SERVER={server};UID={username};PWD={password}'
connection = pyodbc.connect(connection_string)

# Create a new cursor
cursor = connection.cursor()

# SQL command to create a new database
create_db_query = f"CREATE DATABASE {database_name}"

# Execute the SQL command
cursor.execute(create_db_query)

# Commit the transaction
connection.commit()

# Close the cursor and connection
cursor.close()
connection.close()

print(f"Database '{database_name}' created successfully.")